.bg-container {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading {
  color: #fff;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 36px;
  font-weight: 500;
}
.image {
  width: 300px;
  height: 125px;
}
.speed-text {
  color: #fff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}
.speed-limit {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 16px;
}
.buttons-container {
  margin-top: 48px;
}
.button {
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
  outline: none;
  cursor: pointer;
}
.accelerate-btn {
  border: none;
  background-color: #0b69ff;
  color: #cbd5e1;
  margin-right: 20px;
}
.brake-btn {
  border: solid 2px #cbd5e1;
  background-color: transparent;
  color: #cbd5e1;
}
